@font-face {
  font-family: "TT Lakes";
  src: local("0"), url("../fonts/TTLakes-Regular.woff") format("woff"), url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Lakes";
  src: local("0"), url("../fonts/TTLakes-Medium.woff") format("woff"), url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Lakes";
  src: local("0"), url("../fonts/TTLakes-Bold.woff") format("woff"), url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "TT Lakes", sans-serif;
  margin: 0;
}

section {
  margin-bottom: 24px;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 0 16px;
  border-bottom: 1px solid #d9fff5;
}
.header__section--left {
  display: flex;
  align-items: center;
  gap: 16.73px;
}
.header__section--right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__separator {
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}
.header__separator--hidden-left {
  display: none;
}
.header__control--hidden {
  display: none;
}

.main {
  background: #f8f8f8;
  padding: 0 16px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.footer {
  background-color: #f8f8f8;
  border-top: 1px solid #d9fff5;
  padding: 16px 4px 19px 4px;
  z-index: 30;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
.footer__item {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #9b9b9b;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 250, 0.95);
  display: none;
  z-index: 20;
}
.menu-overlay.active {
  display: block;
}

.menu {
  display: flex;
  flex-direction: column;
  z-index: 30;
  position: fixed;
  left: -100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background: #fff;
  box-shadow: 16px 0 52px rgba(0, 0, 0, 0.2);
  padding: 18px 24px;
  box-sizing: border-box;
  transition: left 0.3s ease;
}
.menu.active {
  left: 0;
}
.menu__lang-switcher.active {
  margin-top: 8px;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16.73px;
}
.menu__header-right {
  display: flex;
  align-items: center;
}
.menu__middle {
  flex-grow: 1;
}
.menu__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu__item {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  position: relative;
}
.menu__item a {
  text-decoration: none;
  color: #1b1c21;
}
.menu__item a:focus {
  color: #7e7e82;
  display: flex;
  align-items: center;
}
.menu__item a:hover {
  color: #7e7e82;
}
.menu__item a:focus::before {
  position: absolute;
  content: "";
  height: 32px;
  width: 8px;
  border-radius: 4px;
  background-color: #41f6d7;
  left: -28px;
}
.menu__footer {
  margin-top: auto;
}
.menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}
.menu__actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
.menu__lang-btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.menu__lang-btn:hover, .menu__lang-btn:focus {
  color: #7e7e82;
}
.menu__mail {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin: 16px 0 0 0;
}
.menu__phone {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
  margin: 12px 0 0 0;
}
.menu__lang-switcher {
  margin-top: 40px;
}

.chat-form,
.call-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 50;
  padding: 24px 16px;
  box-sizing: border-box;
  overflow-y: auto;
}
.chat-form.active,
.call-form.active {
  display: flex;
  flex-direction: column;
}
.chat-form__title,
.call-form__title {
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  padding-top: 32px;
  padding-bottom: 24px;
}
.chat-form__title::before,
.call-form__title::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 8px;
  border-radius: 4px;
  background-color: #41f6d7;
  left: -4px;
}
.chat-form__item,
.call-form__item {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 12px 16px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
}
.chat-form:focus,
.call-form:focus {
  outline: none;
  border-color: #41f6d7;
}
.chat-form__policy,
.call-form__policy {
  font-family: "TT Lakes", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #7e7e82;
  margin-top: 0;
  margin-bottom: 20px;
}
.chat-form__policy a,
.call-form__policy a {
  text-decoration: none;
  color: #ff3e79;
}
.chat-form__btn-container,
.call-form__btn-container {
  display: flex;
  justify-content: flex-end;
}
.chat-form__btn-send,
.call-form__btn-send {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 13px;
  padding: 4px 12px;
  background-color: #ff3e79;
  color: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 16px;
  font-family: "TT Lakes", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-align: right;
  cursor: pointer;
}

input,
textarea {
  font-family: "TT Lakes", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #b5b6bc;
}

.nav-list {
  position: relative;
  margin: 0 -16px;
}
.nav-list::before, .nav-list::after {
  content: "";
  position: absolute;
  top: 0;
  width: 24px;
  height: 100%;
  pointer-events: none;
}
.nav-list::before {
  left: 0;
  background: linear-gradient(to right, rgb(248, 248, 248), rgba(248, 248, 248, 0));
}
.nav-list::after {
  right: 0;
  background: linear-gradient(to left, rgb(248, 248, 248), rgba(248, 248, 248, 0));
}
.nav-list__items {
  list-style-type: none;
  display: flex;
  padding: 0 16px;
  margin: 24px 0;
  overflow: scroll;
}
.nav-list__items::-webkit-scrollbar {
  display: none;
}
.nav-list__item {
  white-space: nowrap;
  padding: 8px 16px;
  border: 2px solid transparent;
  box-sizing: border-box;
  font-weight: 500;
  color: #7e7e82;
}
.nav-list__item:hover {
  background-color: #fff;
  border-color: #b8ffec;
  border-radius: 6px;
}

.title {
  margin: 0 -16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  background: linear-gradient(to right, #f8f8f8, #ffffff);
  padding: 16px;
  height: auto;
  object-fit: cover;
  color: #7e7e82;
  text-transform: uppercase;
  border-top: 1px solid #d9fff5;
}

.btn-reset {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.btn-animated img {
  transition: transform 0.2s ease;
}

.btn-animated:hover img {
  transform: scale(1.1);
}

.page-heading {
  padding-top: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.page-heading__title {
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
}
.page-heading::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 8px;
  border-radius: 4px;
  background-color: #41f6d7;
  left: -4px;
}

.actions-menu {
  display: none;
}

.promo {
  display: flex;
  flex-direction: column;
}
.promo__paragraph {
  margin: 0;
}
.promo__paragraph--expanded {
  display: none;
}
.promo__paragraph--expanded.active {
  display: block;
  margin-top: 1.5em;
}
.promo__description {
  margin: 0;
  font-weight: 400;
  color: #1b1c21;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}
.promo__image {
  width: 100%;
}
.promo__image--wrapper {
  margin: 0 -16px;
}
.promo__highlight--wide {
  display: none;
}
.promo__highlight--wide.active {
  display: inline;
}
.promo__content--expanded {
  display: none;
}
.promo__content--expanded.active {
  display: block;
}

.read-more {
  display: flex;
  align-items: center;
  margin: 16px 0;
  gap: 8px;
}
.read-more__btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.read-more__link {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}

.brands__list {
  position: relative;
  padding-bottom: 30px;
  padding-left: 16px;
}
.brands__list-wrapper {
  position: relative;
  margin-left: -16px;
  margin-right: -16px;
}
.brands__list-wrapper::after, .brands__list-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 24px;
  pointer-events: none;
  z-index: 10;
  right: 0;
  background: linear-gradient(to left, #f8f8f8, rgba(255, 255, 255, 0));
}
.brands__toggle-btn {
  display: none;
}
.brands .swiper-slide {
  width: 240px;
  height: 72px;
  flex-shrink: 0;
}
.brands .swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.brand__item {
  width: 240px;
  height: 72px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 16px;
}
.brand__open-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 1px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ff3e79;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.brand__open-btn:hover, .brand__open-btn:focus {
  background-color: #ff3e79;
  border-color: #fff;
}
.brand__open-btn:hover .brand__open-icon, .brand__open-btn:focus .brand__open-icon {
  fill: #fff;
}
.brand__open-btn .brand__open-icon {
  fill: #ff3e79;
  transition: fill 0.3s ease;
}

.technology__item {
  position: relative;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 16px;
}
.technology__item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  margin: 16px 0 0 16px;
  position: absolute;
  top: 0;
  left: 0;
}
.technology__open-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 1px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ff3e79;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 16px 16px 0;
}
.technology__open-btn:hover, .technology__open-btn:focus {
  background-color: #ff3e79;
  border-color: #fff;
}
.technology__open-btn:hover .technology__open-icon, .technology__open-btn:focus .technology__open-icon {
  fill: #fff;
}
.technology__open-icon {
  fill: #ff3e79;
  transition: fill 0.3s ease;
}
.technology__list {
  position: relative;
  padding-bottom: 30px;
  padding-left: 16px;
}
.technology__list-wrapper {
  position: relative;
  margin-left: -16px;
  margin-right: -16px;
}
.technology__list-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 24px;
  pointer-events: none;
  z-index: 10;
  right: 0;
  background: linear-gradient(to left, #f8f8f8, rgba(255, 255, 255, 0));
}
.technology__list .swiper-slide {
  width: 240px;
  height: 160px;
  flex-shrink: 0;
}
.technology__list .swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.technology__toggle-btn {
  display: none;
}

.prices {
  margin-bottom: 40px;
}
.prices__list {
  position: relative;
  padding: 0 0 30px 8px;
  margin: 16px -16px 0 -16px;
}
.prices__list .swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.prices__list-wrapper {
  position: relative;
}
.prices__list-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: -16px;
  width: 48px;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  background: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}
.prices__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  width: 260px;
  height: 200px;
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 16px;
}
.prices-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.prices-card__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  color: #7e7e82;
  margin: 0;
}
.prices-card__value {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2;
  color: #1b1c21;
  margin: 0;
}
.prices-card__row--bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prices-card__term {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.prices-card__action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: auto;
}
.prices-card__btn {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 17px;
  padding: 4px 12px;
  background-color: #ff2e6a;
  color: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  cursor: pointer;
}
.prices-table {
  display: none;
}
.prices__note {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  margin-top: 10px;
}
.prices__toggle-btn {
  text-align: left;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}
.prices__toggle__icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.swiper-pagination-bullet {
  background-color: #dddddd;
  opacity: 1;
  width: 12px;
  height: 12px;
}
.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}

@media (min-width: 768px) {
  .menu {
    width: 320px;
  }
  .chat-form__close-btn,
  .call-form__close-btn {
    position: fixed;
    top: 32px;
    right: 472px;
  }
  .chat-form,
  .call-form {
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    width: 440px;
    height: 100vh;
    background: #fff;
    padding: 40px 32px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  .main {
    padding: 0 24px;
  }
  .header {
    padding: 0 24px;
  }
  .header__separator--hidden-left {
    display: block;
  }
  .header__section--left {
    gap: 20px;
  }
  .header__control--hidden {
    display: block;
    align-items: center;
  }
  .header__section--right {
    gap: 16px;
  }
  .header__separator--hidden-right {
    display: block;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    margin: 0 4px;
  }
  .page-heading {
    margin-bottom: 32px;
  }
  .nav-list {
    margin: 0 -32px;
  }
  .nav-list__items {
    padding: 0 32px;
  }
  .promo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 36px;
  }
  .promo__description {
    flex: 1;
  }
  .promo__image--wrapper {
    margin: 0;
    width: 50%;
    height: auto;
  }
  .promo__image {
    object-fit: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .promo__paragraph--expanded {
    display: block;
    margin-top: 1.5em;
  }
  .promo__highlight--wide.active {
    display: inline;
  }
  .promo__content--expanded.active {
    display: block;
  }
  section {
    margin-bottom: 32px;
  }
  .brands__title {
    margin: 0 -24px;
    padding: 16px 24px;
  }
  .brands__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 24px;
    padding: 0;
  }
  .brands__list .swiper {
    margin: 0;
    padding: 0;
  }
  .brand__item {
    margin: 0;
  }
  .brands__list .swiper-wrapper {
    display: contents;
  }
  .brands__list .swiper-slide {
    width: calc((100% - 48px) / 3);
    flex: none;
  }
  .brands__list .swiper-slide.hidden {
    display: none;
  }
  .brands__list-wrapper {
    margin: 24px 0;
  }
  .brands__list .swiper-pagination {
    display: none;
  }
  .brands__list-wrapper::after {
    display: none;
  }
  .brands__toggle-btn {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
  .brands__toggle__link {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }
  .technology__title {
    margin: 0 -24px;
    padding: 16px 24px;
  }
  .technology__list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
  }
  .technology__list .swiper {
    margin: 0;
    padding: 0;
  }
  .technology__item {
    margin: 0;
  }
  .technology__list .swiper-wrapper {
    display: contents;
  }
  .technology__list .swiper-slide {
    width: calc((100% - 48px) / 3);
    flex: none;
  }
  .technology__list .swiper-slide.hidden {
    display: none;
  }
  .technology__list-wrapper {
    margin: 24px 0;
  }
  .technology__list .swiper-pagination {
    display: none;
  }
  .technology__list-wrapper::after {
    display: none;
  }
  .technology__toggle-btn {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
  .technology__toggle__link {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }
  .prices {
    margin-bottom: 47px;
  }
  .prices__title {
    margin: 0 -24px;
    padding: 16px 24px;
  }
  .prices__list-wrapper {
    display: none;
  }
  .prices-table {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 24px;
  }
  .prices-table__header {
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #7e7e82;
  }
  .prices-table__header th {
    padding-left: 0;
    padding-bottom: 16px;
    text-align: left;
    font-weight: 500;
    color: #7e7e82;
  }
  .prices-table__header th:nth-child(1) {
    padding-left: 16px;
  }
  .prices-table__body tr:first-child td:first-child {
    border-top-left-radius: 6px;
  }
  .prices-table__body tr:first-child td:last-child {
    border-top-right-radius: 6px;
  }
  .prices-table__body tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  .prices-table__body tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }
  .prices-table__body tr td {
    padding: 23px 0;
    border-bottom: 1px solid #eaeaea;
    text-align: left;
    color: #1b1c21;
    background-color: #ffffff;
  }
  .prices-table__body tr:last-child td {
    border-bottom: 0px;
  }
  .prices-table__body tr td:first-child {
    width: 60%;
    padding-left: 16px;
  }
  .prices-table__body tr td:nth-child(2) {
    width: 15%;
  }
  .prices-table__body tr td:nth-child(3) {
    width: 15%;
  }
  .prices-table__body tr td:nth-child(4) {
    width: 10%;
    padding-right: 16px;
  }
  .prices-card__btn {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 4px 12px;
    background-color: #ff2e6a;
    color: #fff;
    border: none;
    border-radius: 16px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .prices__note-wrapper {
    width: 60%;
  }
  .footer {
    padding: 32px 24px 40px 24px;
  }
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  .footer__section {
    max-width: 33%;
  }
  .footer__section--center {
    text-align: center;
  }
  .footer__section--right {
    text-align: right;
  }
}
@media (min-width: 1440px) {
  body {
    display: flex;
    min-height: 100vh;
  }
  .header {
    display: none;
  }
  .nav-list__items {
    padding: 0 22px 0 32px;
  }
  .menu-overlay {
    z-index: 40;
  }
  .menu {
    position: fixed;
    left: auto;
    flex: 0 0 auto;
    height: 100vh;
    padding: 24px;
    box-shadow: none;
  }
  .chat-form__close-btn,
  .call-form__close-btn {
    position: fixed;
    top: 32px;
    right: 472px;
  }
  .chat-form,
  .call-form {
    display: none;
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    width: 440px;
    height: 100vh;
    background: #fff;
    padding: 40px 32px;
    box-sizing: border-box;
    overflow-y: auto;
  }
  .chat-form__title,
  .call-form__title {
    padding-top: 0;
  }
  .chat-form.active,
  .call-form.active {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    z-index: 40;
  }
  .menu__close-btn {
    display: none;
  }
  .layout {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    margin-left: 320px;
  }
  .main {
    flex: 1;
    padding: 0 32px;
  }
  .promo {
    gap: 36px;
  }
  .promo__content--expanded.active {
    display: block;
  }
  .page-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 42px;
  }
  .actions-menu {
    display: flex;
    gap: 32px;
  }
  .page-heading::before {
    left: -36px;
  }
  .actions-menu__item--bid,
  .actions-menu__item--search {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
  }
  .nav-list__items {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }
  .promo__image--wrapper {
    margin: 0;
    width: 532px;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .promo__highlight--wide {
    display: inline;
  }
  .brands__title {
    margin: 0 -32px;
    padding: 16px 32px;
  }
  .brands__list {
    gap: 16px 32px;
  }
  .brands__list .swiper-slide {
    width: calc((100% - 96px) / 4);
    flex: none;
  }
  .technology__title {
    margin: 0 -32px;
    padding: 16px 32px;
  }
  .technology__list {
    gap: 32px;
  }
  .technology__list .swiper-slide {
    width: calc((100% - 96px) / 4);
  }
  .prices {
    margin-bottom: 50px;
  }
  .prices__title {
    margin: 0 -32px;
    padding: 16px 32px;
  }
  .prices-table__body tr td:first-child {
    width: 50%;
    padding-left: 24px;
  }
  .prices-table__body tr td:nth-child(2) {
    width: 20%;
  }
  .prices-table__body tr td:nth-child(3) {
    width: 20%;
  }
  .prices-table__body tr td:nth-child(4) {
    width: 10%;
    padding-right: 24px;
  }
  .prices__note-wrapper {
    width: 40%;
  }
}

/*# sourceMappingURL=main.css.map */
