@use "../base/variables" as vars;

.promo {
  display: flex;
  flex-direction: column;

  &__paragraph {
    margin: 0;

    &--expanded {
      display: none;

      &.active {
        display: block;
        margin-top: 1.5em;
      }
    }
  }

  &__description {
    margin: 0;
    font-weight: 400;
    color: #1b1c21;
    font-size: vars.$font-size-medium;
    line-height: 18px;
    letter-spacing: 0.2px;
  }

  &__image {
    width: 100%;

    &--wrapper {
      margin: 0 -16px;
    }
  }

  &__highlight--wide {
    display: none;

    &.active {
      display: inline;
    }
  }

  &__content--expanded {
    display: none;

    &.active {
      display: block;
    }
  }
}

.read-more {
  display: flex;
  align-items: center;
  margin: 16px 0;
  gap: 8px;

  &__btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  &__link {
    margin: 0;
    font-weight: vars.$font-weight-regular;
    font-size: vars.$font-size-body;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }
}
