@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
    font-family: 'TT Lakes', sans-serif;
}

main{
    background: #F8F8F8;
}

.header__container{
    display: flexbox;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header__raz{
    width: 2px;
    height: 32px;
    background: #EAEAEA;
}

