@font-face {
  font-family: "TT Lakes";
  src: local("0"), url("./fonts/TTLakes-Regular.woff") format("woff"),
    url("./fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  src: local("0"), url("./fonts/TTLakes-Medium.woff") format("woff"),
    url("./fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Lakes";
  src: local("0"), url("./fonts/TTLakes-Bold.woff") format("woff"),
    url("./fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "TT Lakes", sans-serif;
  margin: 0; /* обнуление внешних отступов по умолчанию */
}

.menu {
  display: flex;
  flex-direction: column; /* вертикально */
  height: 100vh;
  box-sizing: border-box;
  width: 320px;
  padding: 24px 24px;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* расположение элементов по центру */
}

.menu__header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16.73px;
}

.menu__header-right {
  display: flex;
  align-items: center;
}

.menu__middle {
  flex-grow: 1; /* занимает все доступное пространство */
}

.sidebar__list {
  list-style-type: none; /* убрали маркеры */
  padding: 0; /* обнуление внутренних отступов по умолчанию */
  margin: 0; /* обнуление внешних отступов по умолчанию */
}

.sidebar__item {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* пространства между строками */
  letter-spacing: -0.2px;
  position: relative; /* нужно для абсолютного позиционирования псевдоэлемента */
}

.sidebar__list .sidebar__item a {
  text-decoration: none; /* убрали подчеркивание у ссылок */
  color: black;
}

.sidebar__list .sidebar__item a:focus {
  color: #7e7e82;
  display: flex;
  align-items: center;
}

.sidebar__list .sidebar__item a:hover {
  color: #7e7e82;
}

.sidebar__list .sidebar__item a:focus::before {
  position: absolute;
  content: "";
  height: 32px;
  width: 8px;
  border-radius: 4px; /* закругление углов */
  background-color: #41f6d7;
  left: -28px;
}

.menu__footer {
  margin-top: auto; /* это «прижимает» футер к низу меню */
}

.menu__footer__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.menu__footer__btn {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-hover {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn-hover:hover,
.btn-hover:focus {
  color: #7e7e82;
}

.mail {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* пространства между строками */
  letter-spacing: -0.2px;
  margin: 16px 0 0 0;
}

.phone {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px; /* пространства между строками */
  letter-spacing: -0.6px;
  margin: 12px 0 0 0;
}

.btn__lang {
  margin-top: 40px;
}

.main {
  background: #f8f8f8;
  padding: 0 16px; /* внутренний отступ 16px справа и слева*/
  box-sizing: border-box; /* св-во, включающее padding и border в общую ширину экрана */
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between; /* св-во, которое управляет горизонтальным распределением элементов. Распределение элементов покраям с равным расстоянием между блоками*/
  align-items: center; /* расположение элементов по центру */
  height: 88px;
  padding: 0 16px; /* внутренний отступ 16px справа и слева, доп. прописываем, т.к. header за main */
  border-bottom: 1px solid #d9fff5;
}

.header__section--left {
  display: flex;
  align-items: center;
  gap: 16.73px; /* расстояние между иконками слева */
}

.header__section--right {
  display: flex;
  align-items: center;
  gap: 16px; /* расстояние между иконками справа */
}

.header__separator {
  /* разделитель в хедере */
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
}

.page-heading__title {
  margin: 0;
  font-weight: 700; /* начертание шрифта 700 - полужирный шрифт */
  font-size: 28px;
  line-height: 40px; /* пространства между строками */
  letter-spacing: -0.6px; /* пространства между символами */
}

.page-heading {
  padding-top: 24px;
  display: flex;
  align-items: center;
}

.page-heading::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 8px;
  border-radius: 4px; /* закругление углов */
  background-color: #41f6d7;
  left: -4px;
}

.nav-list__items {
  list-style-type: none; /* убрали маркеры */
  display: flex;
  padding: 0 16px; /* обнуление внутренних отступов по умолчанию */
  margin: 24px 0; /* внешний отступ 24px сверху и снизу */
  overflow: scroll; /* добавление скролла (бегунок прокрутки) */
}

.nav-list__items::-webkit-scrollbar {
  display: none; /* скрытие скроллбар (прокрутку) */
}

.nav-list {
  position: relative; /* нужно для абсолютного позиционирования затемнений */
  margin: 0 -16px;
}

.nav-list::before,
.nav-list::after {
  content: "";
  position: absolute;
  top: 0;
  width: 24px; /* ширина затемнения */
  height: 100%;
  pointer-events: none; /* чтобы клики проходили сквозь */
  z-index: 1;
}

.nav-list::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(248, 248, 248, 1),
    rgba(248, 248, 248, 0)
  );
}

.nav-list::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(248, 248, 248, 1),
    rgba(248, 248, 248, 0)
  );
}

.nav-list__item {
  white-space: nowrap; /* запрет на перенос слов у элементов списка */
  padding: 8px 16px; /* внутренние отступы 8px сверху и снизу, 16px справа и слева */
  border: 2px solid transparent; /* прозрачная рамка по умолчанию */
  box-sizing: border-box; /* св-во, включающее padding и border в общую ширину экрана */
  font-weight: 500;
  color: #7e7e82;
}

.nav-list__item:hover {
  background-color: #ffffff;
  border-color: #b8ffec;
  border-radius: 6px; /* закругление углов */
}

.promo {
  display: flex;
  flex-direction: column;
}

.promo__paragraph {
  margin: 0;
}

.promo__description {
  margin: 0; /* обнуление внешних отступов по умолчанию */
  font-weight: 400;
  color: #1b1c21;
  font-size: 14px;
  line-height: 18px; /* пространства между строками */
  letter-spacing: 0.2px; /* пространства между символами */
}

.read-more {
  display: flex;
  align-items: center;
  margin: 16px 0; /* внешний отступ 16px справа и слева */
  gap: 8px;
}

.read-more__link {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px; /* пространства между строками */
  letter-spacing: -0.2px; /* пространства между символами */
  color: #1b1c21;
}

.promo__image--wrapper {
  margin: 0 -16px; /* внешний отступ -16px справа и слева, чтобы не учитывать отступ main */
}

.promo__image {
  width: 100%;
}

.header__control--hidden,
.header__separator--hidden-left,
.promo__paragraph--expanded,
.promo__highlight--wide,
.actions-menu {
  display: none;
}

.btn-reset {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit; /* Наследует шрифт от родителя */
  color: inherit; /* Наследует цвет текста */
  cursor: pointer;
}

.btn-animated img {
  transition: transform 0.2s ease;
}

.btn-animated:hover img {
  transform: scale(1.1);
}

.read-more__btn {
  display: inline-flex; /* Строит контент в строку */
  align-items: center; /* Выравнивает по вертикали */
  gap: 8px; /* Расстояние между картинкой и текстом */
}

@media (min-width: 768px) {
  .main {
    padding: 0 24px;
  }

  .header {
    padding: 0 24px;
  }

  .header__separator--hidden-left {
    display: block;
  }

  .header__section--left {
    gap: 20px;
  }

  .header__control--hidden {
    display: block;
    align-items: center;
  }

  .header__section--right {
    gap: 16px;
  }

  .header__separator--hidden-right {
    display: block;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    margin: 0 4px;
  }

  .nav-list {
    margin: 0 -32px;
  }

  .nav-list__items {
    padding: 0 32px;
  }

  .promo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 36px;
  }

  .promo__description {
    flex: 1;
  }

  .promo__image--wrapper {
    margin: 0;
    width: 50%;
    height: auto;
  }

  .promo__image {
    object-fit: cover; /* изображение подстраивается под размер контейнера */
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .promo__paragraph--expanded {
    display: block;
    margin-top: 1.5em;
  }
}

@media (max-width: 1439px) {
  .menu {
    display: none; /* скрываем меню */
  }
}

@media (min-width: 1440px) {
  .menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .header {
    display: none; /* при этом хедер можно скрыть */
  }

  body {
    display: flex; /* меню слева, контент справа */
  }

  .main {
    flex: 1;
    padding: 0 32px;
  }

  .header {
    padding: 0 32px;
  }

  .promo {
    gap: 36px;
  }

  .header {
    display: none;
  }

  .page-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 42px;
  }

  .actions-menu {
    display: flex;
    gap: 32px;
  }

  .page-heading::before {
    left: -36px;
  }

  .actions-menu__item--bid,
  .actions-menu__item--search {
    display: flex;
    align-items: center; /* по вертикали по центру */
    gap: 8px;
    margin: 0;
  }

  .nav-list__items {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }

  .promo__image--wrapper {
    margin: 0;
    width: 532px;
    height: auto;
    object-fit: cover; /* изображение подстраивается под размер контейнера */
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .promo__highlight--wide {
    display: inline;
  }
}
