.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  padding: 0 16px;
  border-bottom: 1px solid #d9fff5;

  &__section {
    &--left {
      display: flex;
      align-items: center;
      gap: 16.73px;
    }

    &--right {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  &__separator {
    width: 2px;
    height: 32px;
    background-color: #eaeaea;

    &--hidden-left {
      display: none;
    }
  }

  &__control--hidden {
    display: none;
  }
}
